<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
    <title>Buoy.Fish Coverage Map</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <link rel="apple-touch-icon" href="<%= Routes.static_path(@conn, "/images/apple-touch-icon.png") %>">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Google Analytics (add Buoy.Fish GA ID when ready) -->
  </head>
  <body>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@conn.assigns[:flash] || %{}, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@conn.assigns[:flash] || %{}, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
